body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .calculator {
    background-color: #af7474;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .calculator input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid #82bbdb;
    border-radius: 4px;
  }
  
  .calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .calculator button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(240, 232, 123);
  }
  
  .calculator button:hover {
    background-color: #45a049;
  }
  
  .calculator button:active {
    background-color: #89e6c2;
  }
  